:root {
  --background: #e9eef2;
  --color: #212325;
  --color-2: #444;
  --color-3: #666;
  --transition: all 0.25s ease 0s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  margin: -8px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  height: 100px;
}

a{
  color: #6C5CE7;
  text-decoration: none;
  margin: 10px;
}

#links{
  display: flex;
  font-size: 20px;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-right: 0%;
}

.redirection_link:after {
  border-bottom: 3px solid #6C5CE7;
  content: "";
  display: block;
  margin: 0 auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}
.redirection_link:hover:after {
  transition: width 200ms ease-in-out 0s;
  background-color: #6C5CE7;
  width: 100%;
  height: fit-content;
}

img {
  padding: 10px;
  width: 270px;
  height: 120%;
}
.container {
  background: rgb(255, 255, 255);
  height: auto;
  width: 100%;
}
.sous-container {
  width: 100%;
  height: 100%;
  padding: 20px 200px;
}
.img {
  background-color: antiquewhite;
  height: 500px;
  width: 100%;
}
.img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
section {
  margin-top: 60px;
  width: 100%;
}
.astuce-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  gap: 5em 3em;
}
.astuce-grid section {
  height: auto;
}
.astuce {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
h1 i {
  margin-right: 20px;
}
.icon-astuce {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9eef2;
  font-size: 22px;
  padding-top: 8px;
}
button {
  width: 120px;
  height: 40px;
  border: 1px solid #000;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
}

button::after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
button:hover::after {
  transform: scale(2) rotate(180deg);
  background: #000;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

/* ================================Footer================================= */

footer {
  margin-top: 100px;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
}
